@media screen and (min-width: 1024px) {
  header {
    flex: 2;
    position: relative;
    top: 6.3em;
    width: 40%;
    height: 20%;
    background-color:#e29d27;
    background-image: url('../images/45-degree-fabric-light.png');
    padding-top: 20px;
    padding-bottom: 5px;;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 3;
  }
}

@media screen and (max-width: 1023px) {
  header {
    position: relative;
    top: 4em;
    background-color:#e29d27;
    background-image: url('../images/45-degree-fabric-light.png');
    padding-top: 20px;
    padding-bottom: 5px;;
  }
}



@media screen and (min-width: 1024px) {
  img#portrait {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (max-width: 1023px) {
  img#portrait {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 8em;
  }
}

header h2 {
  text-align: center;
}
