nav {
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 24%;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-right: 1.5em;
}
@media screen and (max-width: 1023px) {
  nav {
    height: 15%; 
  }
}

#toggleSubmit {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  color: white;
}

