/*CSS describing new tweet submit box*/
.new-tweet {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.tweet-input {
  width: 100%;
  display: flex;
  display: inline-block;
  padding: 0.9em;
  padding-bottom: 0.5em;
  background-color: transparent;
  border: transparent;
  border-bottom: 0.2em solid black;
  margin-bottom: 0.9em;
  margin-top: 0.9em;  
}

.submit-button {
  background: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;  
}

.counter {
  position: absolute;
  right: 0;
  color: black;
}

.counter-red {
  color: red;
}



