/*CSS describing display when composing new tweets*/
.new-tweet {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.tweet-input {
  width: 100%;
  display: flex;
  min-height: auto;
  display: inline-block;
  padding: 20px;
  padding-bottom: 10px;
  background-color: transparent;
  border: transparent;
  border-bottom: 5px solid black;
  margin-bottom: 20px;
  margin-top: 20px;  
}

.submit-button {
  background: #4056A1;
  color: white;
  font-family: 'Bungee', cursive;  
}

.counter {
  position: absolute;
  right: 0;
  color: black;
}

.counter-red {
  color: red;
}



